.well
  %h2 Your accounts
  - current_user.accounts.each do |account|
    .account{:style => "margin-bottom: 20px;"}
      %span.label= account.formatted_uid
      = "#{"%5.2f" % account.balance} #{account.currency}"