.well.well-small
  %h5 Your accounts
  - current_user.accounts.each do |account|
    .account{:style => "margin-bottom: 20px;"}
      %span.label.label-inverse= account.formatted_uid
      %small{:style => "padding-left: 10px;"}= "#{"%5.2f" % account.balance} #{account.currency}"