.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{ :href => "/"} Genbank
      .nav.nav-collapse
        %ul.nav
          %li
            %a{:href => '#'} Payment history
          %li
            %a{:href => '#'} Transfer founds
          %li
            %a{:href => '#'} Pay for service